/* Main Container  */

.speciality-container {
    height: 90vh;
    padding: 20px;
    overflow-y: auto;
}


/* Left container the one with topics overview and dropdowns */

.topic-ovr-container {
    padding: 0px;
    max-height: 80vh;
    border-radius: 15px;
    background-color: #fff;
}


/* topics overview top block */

.topics-overview {
    display: block;
    text-align: left;
    color: #fff;
    padding: 20px;
    /* border-radius: 10px; */
    background-image: url('https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-color: #1d0aca;
    background-blend-mode: multiply;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* mobile view dropdown  */

.speciality-dropdown {
    font-size: 1.4rem;
    visibility: hidden;
}

.arrow-down {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* arrow icon styles */

.arrow-down.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform-origin: 65%;
    transform: rotateZ(180deg);
}

.arrow-down {
    font-size: 1.5rem;
    color: white;
}


/*  */


/* Topic overview heading */

.overview {
    text-shadow: 1px 1px #87d484;
}


/* article Names and dropdown container */

.Topic-names {
    overflow-y: auto;
    height: 70vh;
    background: transparent;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* article preview container  */


/* shadow for all cards  */

.card {
    box-shadow: 0 0 10px #230c33;
}


/* Article heading */

.material-icons {
    color: #e2e3eb;
    background-image: url('https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    margin: 0;
    padding: 50px;
    background-repeat: no-repeat;
    background-color: #1d0aca;
    background-blend-mode: multiply;
}


/* Read More Link styles */

.link {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.link {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    font-size: 1.5rem;
    right: 10px;
    bottom: 5px;
}

.link::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
    position: absolute;
    left: 0;
    bottom: 2px;
    z-index: -1;
    will-change: width;
    transform: rotate(-2deg);
    transform-origin: left bottom;
}

.link:hover::before {
    width: 0;
}

.link::before {
    transition: width 0.1s ease-out;
}

.link:hover::before {
    transition-duration: 0.45s;
}


/*  */


/* Article preview styles */

.card-container .card {
    font-weight: bold;
    position: relative;
    width: 100%;
}

.topic {
    color: #07beb8;
}

.card-header {
    margin: 0px !important;
}

.card-container .card {
    width: 100%;
    max-height: 80vh;
    border: 1px solid mediumpurple;
    background: #fff;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    display: block;
    transition: 0.25s ease;
}

.card-no-body {
    /* padding: 50px!important; */
    margin: 50px;
}

.article-heading-hover {
    font-size: 2.5rem;
    color: #07beb8;
    text-align: center;
    font-stretch: expanded;
    font-weight: 600;
}

.card-container .card.card--dark a {
    color: white;
    background-color: black;
    border-color: black;
}


/*  */

img {
    width: 50vw;
}


/* media tags */

@media only screen and (max-width: 500px) {
    .speciality-dropdown {
        visibility: visible;
    }
    body {
        font-size: 1rem;
    }
    .speciality-name {
        font-size: 1rem;
    }
    .overview {
        font-size: 1.4rem;
    }
    .list-down {
        font-size: 1.5rem;
    }
}