.material-icons {
    color: #e2e3eb;
    background-image: url('https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    margin: 0;
    padding: 50px;
    background-repeat: no-repeat;
    background-color: #1d0aca;
    background-blend-mode: multiply;
}

.card-header {
    margin: 0px !important;
}

.card {
    width: 100%;
    max-height: 80vh;
    border: 1px solid mediumpurple;
    background: #fff;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    display: block;
    transition: 0.25s ease;
    font-weight: bold;
    position: relative;
    width: 100%;
}

.card.card--dark a {
    color: white;
    background-color: black;
    border-color: black;
}

.card-no-body {
    margin: 50px;
}