.addButton-container {
    display: flex;
    justify-content: center;
}

button.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
}

.addButton svg {
    height: 55px;
    width: 150px;
    fill: none;
    border-radius: 10px;
    stroke-width: 3;
}

.addButton svg .o1 {
    stroke: #ffa114;
    fill: #e91e63;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.addButton svg .o2 {
    stroke: white;
    stroke-dasharray: 20 420;
    stroke-dashoffset: 20;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.addButton span {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.addButton:hover {
    color: #e91e63;
}

.addButton:hover .o1 {
    fill: rgba(204, 129, 16, 0.3);
}

.addButton:hover .o2 {
    stroke-dashoffset: -420;
}