@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.learn-container {
    width: 100vw;
    overflow: hidden;
    margin: 10px auto;
}

.container .card {
    position: relative;
    width: 400px;
    height: 58vh;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    border-radius: 20px;
    overflow: hidden;
    animation: 8s floating infinite 1s;
    margin: 20px;
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-15px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes floating {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-15px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "DoItNow";
    position: absolute;
    /* :) that's deliberate */
    top: 69%;
    /* --------------------- */
    left: -10%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.09);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0;
    transform: translateY(0%);
}

.container .card .imgBx img {
    border-radius: 5px;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    font-family: "Bree Serif", serif;
    position: relative;
    font-size: 2rem;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #111;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span:hover {
    background: #d891ef;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {}

.container .card .contentBx .color span:nth-child(3) {
    color: #fff;
    margin: 5px;
    background: #e91e63;
}

.container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #ffa114;
    color: white;
    font-family: Raleway, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.image {
    width: 320px;
}

@media (max-width: 430px) {
    .container .card {
        position: relative;
        width: 350px;
        height: 50vh;
        background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
        border-radius: 20px;
        overflow: hidden;
        animation: 8s floating infinite 1s;
        margin: 20px;
    }
}

@media (max-width: 380px) {
    .container .card {
        position: relative;
        width: 320px;
        height: 45vh;
        background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
        border-radius: 20px;
        overflow: hidden;
        animation: 8s floating infinite 1s;
        margin: 20px;
    }
}

@media (max-width: 992px) {
    .col-lg-6 {
        padding-left: 140px;
    }
}

@media (max-width: 768px) {
    .col-lg-6 {
        padding-left: 45px;
    }
}

@media (max-width: 533px) {
    .col-lg-6 {
        padding-left: 10px;
    }
}

.add-card-button {
    text-align: center;
}