@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC:wght@700&family=Coming+Soon&family=News+Cycle&family=Questrial&display=swap");

/* container */

.aboutDin-cont {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    min-height: 100vh;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    padding: 10px;
    padding-bottom: 80px;
}


/* ----------------------------------- */


/* h2 styles for this container */

.aboutDin-cont h2 {
    color: #c1292e;
    padding-top: 30px;
    font-size: 5rem;
    font-family: "Amatic SC", cursive;
    text-align: center;
}


/* ------------------------------------------------------ */


/* logo styles for this container */

.aboutDin-cont .logo {
    color: #111;
    font-size: 3.5rem !important;
}


/* ------------------------------------------------------ */


/* whatis doitnow h4 */

.what-din h4 {
    color: #c1292e;
    font-size: 3rem;
}


/* ------------------------------------------------------ */


/* what is din logo */

.what-din .logo {
    color: #fff;
}


/* ------------------------------------------------------ */


/* why din  logo */

.why-din .logo {
    color: #fff;
}


/* ------------------------------ */


/* what is doitnow container */

.what-din {
    padding-left: 10px;
    color: #fff;
    font-family: Coming Soon;
    text-align: start;
    font-weight: 600;
    line-height: 1.1;
    font-size: 2rem;
}


/* ------------------------------------------------------ */

.why-din h4 {
    color: #c1292e;
    font-size: 3rem;
}


/* why do it now container */

.why-din {
    margin-top: 40px;
    padding-left: 10px;
    color: #fff;
    font-family: Coming Soon;
    text-align: end;
    line-height: 1;
    font-weight: 600;
    line-height: 1.1;
    font-size: 2rem;
}


/* ------------------------------------------------------ */